@model host.Models.Restaurant

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMate</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    @foreach (var category in Model.Menu.Categories)
    {
        <div class="block">
            <div class="category">@category.Name</div>
            <div class="row">
                @foreach (var cell in category.Dishes)
                {
                    <div class="cell">
                        <img src="https://grillandjoy.ru/upload/medialibrary/651/9_2_003.jpg" alt="image" class="image">
                        <div class="content">
                            <h2 class="cost">@cell.Price</h2>
                            <p class="desc">@cell.Name</p>
                            <button class="add-button">
                                <span class="plus">+</span>
                                <span class="text">Добавить</span>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
</body>
</html>
