<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMate</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="category">Горячие блюда</div>
    <div class="row">
        <div class="cell">
            <img src="https://grillandjoy.ru/upload/medialibrary/651/9_2_003.jpg" alt="image" class="image">
            <div class="content">
                <h2 class="cost">100₽</h2>
                <p class="desc">Описание товара на карточке</p>
                <button class="add-button">
                    <span class="plus">+</span>
                    <span class="text">Добавить</span>
                </button>
            </div>
        </div>
        <div class="cell">
            <img src="https://grillandjoy.ru/upload/medialibrary/651/9_2_003.jpg" alt="image" class="image">
            <div class="content">
                <h2 class="cost">100₽</h2>
                <p class="desc">Описание товара на карточке</p>
                <button class="add-button">
                    <span class="plus">+</span>
                    <span class="text">Добавить</span>
                </button>
            </div>
        </div>
        <div class="cell">
            <img src="https://grillandjoy.ru/upload/medialibrary/651/9_2_003.jpg" alt="image" class="image">
            <div class="content">
                <h2 class="cost">100₽</h2>
                <p class="desc">Описание товара на карточке</p>
                <button class="add-button">
                    <span class="plus">+</span>
                    <span class="text">Добавить</span>
                </button>
            </div>
        </div>
        <div class="cell">
            <img src="https://grillandjoy.ru/upload/medialibrary/651/9_2_003.jpg" alt="image" class="image">
            <div class="content">
                <h2 class="cost">100₽</h2>
                <p class="desc">Описание товара на карточке</p>
                <button class="add-button">
                    <span class="plus">+</span>
                    <span class="text">Добавить</span>
                </button>
            </div>
        </div>
        <div class="cell">
            <img src="https://grillandjoy.ru/upload/medialibrary/651/9_2_003.jpg" alt="image" class="image">
            <div class="content">
                <h2 class="cost">100₽</h2>
                <p class="desc">Описание товара на карточке</p>
                <button class="add-button">
                    <span class="plus">+</span>
                    <span class="text">Добавить</span>
                </button>
            </div>
        </div>
        <div class="cell">
            <img src="https://grillandjoy.ru/upload/medialibrary/651/9_2_003.jpg" alt="image" class="image">
            <div class="content">
                <h2 class="cost">100₽</h2>
                <p class="desc">Описание товара на карточке</p>
                <button class="add-button">
                    <span class="plus">+</span>
                    <span class="text">Добавить</span>
                </button>
            </div>
        </div>
        <div class="cell">
            <img src="https://grillandjoy.ru/upload/medialibrary/651/9_2_003.jpg" alt="image" class="image">
            <div class="content">
                <h2 class="cost">100₽</h2>
                <p class="desc">Описание товара на карточке</p>
                <button class="add-button">
                    <span class="plus">+</span>
                    <span class="text">Добавить</span>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
