
/backend/site/bin/
/backend/site/obj/
/frontend/Business/tg_business_bot/venv/
/frontend/Business/tg_notification_bot/venv/
/backend/host/.idea/
/backend/site/.idea/
/frontend/Business/.idea/
/frontend/Business/tg_business_bot/.idea/
/frontend/Business/tg_notification_bot/.idea/
/backend/Folder.DotSettings.user
/backend/host/obj/
/backend/DataBase/
/backend/host/bin/
/backend/host/DataBase
/backend/Domain/Database/
/backend/.idea/
/backend/API/.idea/
/backend/API/bin/
/backend/API/obj/
/backend/Application/.idea/
/backend/Application/bin/
/backend/Application/obj/
/backend/Domain/bin/
/backend/Domain/obj/
/backend/Solution.sln.DotSettings.user
/backend/API/PY_bots/Business/.idea/
/backend/API/PY_bots/.idea/
/backend/API/PY_bots/ApiClient/venv/
/backend/API/PY_bots/ApiClient/.idea/
/backend/API/PY_bots/Model/.idea/
/backend/API/PY_bots/Model/venv/
/backend/API/PY_bots/tg_business_bot/.idea/
/backend/API/PY_bots/tg_business_bot/venv/
/backend/API/PY_bots/tg_notification_bot/.idea/
/backend/API/PY_bots/tg_notification_bot/venv/
