
/backend/site/bin/
/backend/site/obj/
/frontend/Business/tg_business_bot/venv/
/frontend/Business/tg_notification_bot/venv/
/backend/.idea/
/backend/host/.idea/
/backend/site/.idea/
/frontend/Business/.idea/
/frontend/Business/tg_business_bot/.idea/
/frontend/Business/tg_notification_bot/.idea/
/backend/Folder.DotSettings.user
/backend/host/obj/
/backend/DataBase/
/backend/host/bin/
/backend/host/DataBase